<center><h1>Food Addiction Survey</h1></center>

<p>Informed Consent to Participate</p>
<p>Thank you for agreeing to participate in our survey. This survey is being used for a graduate research study at CSU, Chico in partnership with the Center for Healthy Communities. The results may be used in written reports or presentations.</p>

<p>The results from this study will help us learn about food and beverage consumption, specifically  foods that people overconsume. These foods usually have higher amounts of fat and sugar and can lead to overeating and can be referred to as problematic or trigger foods. </p>

<p>If you have ever been diagnosed with an eating disorder, such as Anorexia Nervosa, Bulimia Nervosa and/or Binge Eating Disorder, we strongly discourage you from participating.</p>

<p>Participation in this survey is voluntary and any personal information will be recoded to conceal identity. If at any point you do not want to continue the survey, you may stop. There is absolutely no risk in participating in this study.</p>

<p>Statement about farmers market dollars raffle</p>

<div class="col-md-offset-5">
  <div class="btn btn-primary" style="margin-top: 20px; margin-right: 35px;">
    <%= link_to "Sign Up", new_user_registration_path, {:style => 'color: white;'} %>
  </div>
  <div class="btn btn-primary" style="margin-top: 20px;">
    <%= link_to "Login", new_user_session_path, {:style => 'color: white;'}%>
  </div>
</div>
