<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Thank you for Signing up to take the food habit survey</h3>
    <p>
      You can get your farmers gift card at 25 main street.
    </p>
  </body>
</html>
