<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Thank you for signing up to take the food habit survey</h3>
    <p>
      More info coming soon... Enjoy the survey!
    </p>
  </body>
</html>
