<%= form_for(@survey) do |f| %>
	<% @categories.each do |category| %>
		<p>Which of these foods of category <%= category.name %> do you feel a lack of control around?</p>

		Foods <br>
		<%= f.collection_check_boxes :food_ids, category.foods.all, :id, :name, {}, :multiple => true %><br>
	<% end %>		
	<%= f.submit %>
<% end %>

<script>
$( document ).ready(function() {
  $( "#e1" ).select2();
});
</script>