<p>Which of these foods (categories) do you feel are problematic for you? (Mark at least 1)</p>

<%= form_for(@survey) do |f| %>
	Categories <br>
	<%= f.select :category_ids, Category.all.collect {|x| [x.name, x.id]}, {}, :multiple => true, id: "e1" %><br>
	<%= f.submit %>
<% end %>

<!-- we will need to permit category_ids: [] as well -->

<script>
$( document ).ready(function() {
  $( "#e1" ).select2();
});
</script>