<p>Which of these foods (categories) do you feel are problematic for you? (Mark at least 1)</p>

<%= form_for(@survey) do |f| %>
	Categories <br>
	<%= f.collection_check_boxes :category_ids, Category.all, :id, :name, {}, :multiple => true %><br>
	<%= f.submit %>
<% end %>


<script>
$( document ).ready(function() {
  $( "#e1" ).select2();
});
</script>


