<div class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%">
    <span class="sr-only">15% Complete (success)</span>
  </div>
</div>

<h1>Sortable Bootstrap Tables in Rails (drag &amp; drop reordering)</h1>
<h5>
  <%= link_to 'http://benw.me/posts/sortable-bootstrap-tables/', 'http://benw.me/posts/sortable-bootstrap-tables/' %>
</h5>
<div class="panel panel-default">
  <table class="table table-bordered table-striped" id="sortable">
    <thead>
      <tr>
        <th>
          Title
        </th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr data-item-id=<%= "#{food.id}" %> class="item">
          <td>
            <%= food.rank %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= params %>
