<div class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="92.5" aria-valuemin="0" aria-valuemax="100" style="width: 92.5%">
    <span class="sr-only">92.5% Complete (success)</span>
  </div>
</div>

<h3>Demographics </h3>

<hr>

_Content

<hr>


<%= button_to "End Survey", thank_you_path, class: "btn btn-primary col-md-offset-10", method: :get %>
