<hr>
<hr>
<hr>

<h1 class="col-md-offset-5">Thank you</h1>

<hr>
<hr>
<hr>

<h4 class="col-md-offset-3">An email will be sent to current_user.survey if you win the raffle.</h4>

<hr>

<h4 class="col-md-offset-3">If you have any questions or comments please contact _name at _email.</h4>

<hr>
