<div class="vert-space-lg"></div>
<div class="vert-space-lg"></div>

<h1><center><stron>Thank you for participating in this survey!</strong></h1></center>

<div class="vert-space-lg"></div>
<div class="vert-space-lg"></div>

<h4><center>An email with instructions on how to redeem a gift card will be sent to <u><%= current_user.email %></u> if you win the raffle. </center></h4>

<div class="vert-space-lg"></div>

<h4><center>If you have any questions or comments please contact <u>aahmad3@mail.csuchico.edu</u>.</center></h4>

<div class="vert-space-lg"></div>
