<center><h1>Food Habits Survey</h1></center>

<div class="vert-space-lg"></div>

<center><u><h4>Informed Consent to Participate</h3></u></center>

<div class="vert-space-lg"></div>

<p class="col-md-10 col-md-offset-1">Thank you for agreeing to participate in our survey. This survey is being used for a graduate research study at CSU, Chico in partnership with the Center for Healthy Communities. The results may be used in written reports or presentations.</h4>

<p class="col-md-10 col-md-offset-1">The results from this study will help us learn about food and beverage consumption, specifically  foods that people overconsume. These foods usually have higher amounts of fat and sugar and can lead to overeating and can be referred to as problematic or trigger foods. </p>

<p class="col-md-10 col-md-offset-1">If you have ever been diagnosed with an eating disorder, such as Anorexia Nervosa, Bulimia Nervosa and/or Binge Eating Disorder, we strongly discourage you from participating.</p>

<p class="col-md-10 col-md-offset-1">Participation in this survey is voluntary and any personal information will be recoded to conceal identity. If at any point you do not want to continue the survey, you may stop. There is absolutely no risk in participating in this study.</p>

<p class="col-md-10 col-md-offset-1">Each participant will be entered into a raffle to win a <strong>$15 Farmer’s Market gift card</strong>. Over 100 winners will be selected. Information on how to redeem the gift card will be sent to the email address you provide. The gift cards can be used in any Butte County Farmer’s Market. </p>

<div class="vert-space-lg"></div>

<div class="col-md-4 col-md-offset-4">
  <div class="btn-primary btn" style="margin-top: 30px; margin-bottom: 30px; float: left;">
    <%= link_to "Sign Up", new_user_registration_path, {:style => 'color: white;'} %>
  </div>
  <div class="btn-primary btn" style="margin-top: 30px; margin-bottom: 30px; float: right;">
    <%= link_to "Login", new_user_session_path, {:style => 'color: white;'}%>
  </div>
</div>
