// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .start-surv {
    margin-bottom: 20px !important;

  }

.checkbox label::before {
  margin-top: 2px !important;

}

.checkbox label {
  margin-top: 16px !important;

}
