// Place all the styles related to the FoodRanks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.grippy {
  content: '....';
  width: 5%;
  display: inline-block;
  overflow: hidden;
  line-height: 5px;
  padding: 3px 4px;
  cursor: move;
  vertical-align: middle;
  margin-top: -.5em;
  margin-right: .1em;
  font-size: 12px;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: #b3b3b3;
  text-shadow: 1px 0 1px black;
  float: right;

}
span.grippy::after {
  content: '.. .. .. ..';
}
