// Place all the styles related to the VasQuestions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type=range] {
  max-width: 700px;
  min-width: 600px;
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
}

input[type=range]:focus {
  max-width: 700px;
  min-width: 600px;
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  max-width: 700px;
  min-width: 600px;
  width: 100%;
  cursor: pointer;
  background: transparent; /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
  max-width: 700px;
  min-width: 600px;
  width: 100%;
  height: 42px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff;
  background: rgb(170, 170, 170);
  border-radius: 1.3px;
  border: 19px solid rgb(239, 239, 239);
  border-left: 0px;
  border-right: 0px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  max-width: 700px;
  min-width: 600px;
  background: rgb(170, 170, 170);
}

input[type=range]::-moz-range-track {
  max-width: 700px;
  min-width: 600px;
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #fff, 0px 0px 1px #fff;
  background: #000;
  border-radius: 0px;
  border: 12px solid #fff;
}

input[type=range]::-ms-track {
  max-width: 700px;
  min-width: 600px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}


.not-clicked::-webkit-slider-thumb {
  opacity: 0;
}

/* Special styling for WebKit/Blink */
.clicked::-webkit-slider-thumb {
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-appearance: none;
  border: 2px solid rgb(51, 51, 50);
  height: 36px;
  width: 6px;
  border-radius: 3px;
  background: rgb(51, 51, 50);
  cursor: pointer;
  margin-top: -15px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff; /* Add cool effects to your sliders! */
}

.not-clicked::-moz-range-thumb {
    opacity: 0;
}

/* All the same stuff for Firefox */
.clicked::-moz-range-thumb {
  position: relative;
  z-index: 2;
  opacity: 1;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: rgb(51, 51, 50);;
  cursor: pointer;
  margin: 5px
}

.not-clicked::-ms-thumb {
  opacity: 0;
}

/* All the same stuff for IE */
.clicked::-ms-thumb {
  position: relative;
  z-index: 2;
  opacity: 1;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

.slider-fill {
  max-width: 700px;
  min-width: 600px;
  position: relative;
}
.slider-ticks {
  position: relative;
  bottom: 19px;
  z-index: 1;
  float: left;
  width: 20%;
  height: 8px;
  display: inline;
  border-left: 2px solid rgb(210, 210, 210);
  pointer-events: none;
  color: rgb(180, 180, 180);
}

.slider-ticks-text {
  font-family: "Arial", sans-serif;
  position: relative;
  z-index: 1;
  float: left;
  width: 16%;
  height: 8px;
  display: inline;
  pointer-events: none;
  color: rgb(150, 150, 150);
  bottom: 14px;
}

.not-clicked {

}
.clicked {

}

#slider-tick1 {
border-left: 2.5px solid rgb(185, 185, 185);
opacity: 1;
}

#slider-tick5 {
  border-right: 2.5px solid rgb(185, 185, 185);
  opacity: 1;
}

#slider-tick-text1 {
right: 52px;
}

#slider-tick-text2 {
right: 30px;
}

#slider-tick-text3 {
left: 4px;
}

#slider-tick-text4 {
  left: 29px;

}

#slider-tick-text5 {
  left: 52px;

}

#slider-tick-text6 {
  left: 65px;
  width: 20%;
}
