<h2>List of all Categories</h2>


<ul>
  <% @categories.each do |category| %>
    <li>
      <%= category.name %>:
      <% category.foods.each do |food| %>
        <%= food.name %>,
      <% end %>
    </li>
  <% end %>
</ul>
<hr>
<%= button_to "Start Survey", survey_category_selection_path, class: "pull-right", method: :get %>
